@model JerryStore.Models.Service
@{
    ViewBag.Title = "Service";
}

<h2>Services</h2>

<dl>
    <dd>Starter Package</dd>
    <dd>@Model.Package </ dd >
    <dd>Task</dd>
    <dd>@Model.Task </ dd >
    <dd>Assistant</dd>
    <dd>@Model.Assistant </ dd >
    <dd>@Model.Price </ dd >
</dl>